<!-- Config file for the game -->

<config>
  <app>
    <title>Unknown Miner</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <textures tex1="TiledMap_2.tmx" tex2="TiledMap.tmx"/>
    <audio src="audio/music/cave_ambient.ogg"/>
  </scene>

  <player>
    <initialPos1 x="130" y="620"/>
    <initialPos2 x="120" y="260"/>
    <death height="800" time="4"/>
    <propierties life="100" speed="2" gravity="0.25" punchTime="19"/>
    <path tex="textures/Character.png" jump="audio/fx/Jump.wav" hit="audio/fx/Swosh+Hit.ogg" land="audio/fx/Landing.ogg" swosh="audio/fx/Swosh.ogg"/>
  </player>
  <entitymanager>
    <airenemy>
      <initialPos1 x="170" y="600"/>
      <initialPos2 x="120" y="260"/>
      <propierties life="100" speed="1" gravity="0.25" punchTime="19"/>
      <path tex="textures/AirEnemy.png" fly="audio/fx/Jump.wav" hit="audio/fx/Swosh+Hit.ogg" attack="audio/fx/Landing.ogg"/>
    </airenemy>
  </entitymanager>
</config>