<!-- Config file for the game -->

<config>
  <app>
    <title>Unknow Miner</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <initialPos1 x="130" y="620"/>
    <initialPos2 x="130" y="520"/>
    <propierties life="100" speed="2"/>
    <texPath path="maps/Character.png"/>
  </player>

</config>